@font-face {
   font-family: 'Qartella-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Arjun%20Akna/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-10_203017/fonts/Qartella-Regular/font.woff');
}
