@font-face {
   font-family: 'GOODTIME';
   font-display: swap;
   src: url('GOODTIME/font.ttf');
}
@font-face {
   font-family: 'Anita semi square';
   font-display: swap;
   src: url('Anita semi square/font.ttf');
}
