@font-face {
   font-family: 'Anita semi square';
   font-display: swap;
   src: url('file:///C:/Users/Arjun%20Akna/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-10_203017/fonts/Anita%20semi%20square/font.ttf');
}
