@font-face {
   font-family: 'GOODTIME';
   font-display: swap;
   src: url('file:///C:/Users/Arjun%20Akna/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-10_203017/fonts/GOODTIME/font.ttf');
}
